h1 {
    text-shadow: 2px 2px 4px rgba(137, 162, 170, 0.8); 
    font-size: 800%;
    animation: floatUpDown 3s infinite alternate;
}

h1::after {
    animation: animate 6s linear infinite; 
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}

@keyframes floatUpDown1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

body {
    font-family: 'Dont Walk Run', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-position: center;
    margin: 0;
}

img {
    width: 30%;
}
